#hak_id_1316597366173644345{
  top: 0px;
  left: 0px;
  width: 960px;
  height: 540px;
}
#hak_id_1316599541361207994{
  top: 0px;
  left: 0px;
  width: 960px;
  height: 540px;
}
.hak_id_1316599588793922432_d{
  width: 453px;
  height: 144px;
}
#hak_id_1316599588793922432{
  width: 453px;
  height: 144px;
  left: 4px;
  top: 59px;
}
.hak_id_1316599610058955361_d{
  width: 453px;
  height: 144px;
}
#hak_id_1316599610058955361{
  width: 453px;
  height: 144px;
  left: 4px;
  top: 210px;
}
.hak_id_1316599623941745212_d{
  width: 453px;
  height: 144px;
}
#hak_id_1316599623941745212{
  width: 453px;
  height: 144px;
  left: 4px;
  top: 354px;
}
#hak_id_1316599951689898781{
  top: 504px;
  left: 0px;
  width: 72px;
  height: 22px;
}
#hak_id_1316599954467659820{
  top: 504px;
  left: 98px;
  width: 362px;
  height: 21px;
}
#hak_id_1316638065708381657{
  top: 340px;
  left: 460px;
  width: 481px;
  height: 156px;
}
#hak_id_1316638069349266596{
  top: 340px;
  left: 460px;
  width: 481px;
  height: 156px;
}
#hak_id_1316638072758339625{
  top: 340px;
  left: 460px;
  width: 481px;
  height: 156px;
}
#hak_id_1316600199460616002{
  top: 340px;
  left: 460px;
  width: 481px;
  height: 156px;
}
#hak_id_1316638739700882567{
  top: 66px;
  left: 460px;
  width: 475px;
  height: 254px;
}
.hak_id_1316685310954239559_d{
  width: 114px;
  height: 31px;
}
#hak_id_1316685310954239559{
  width: 114px;
  height: 31px;
  left: 825px;
  top: 465px;
}
#hak_id_131668539404724377{
  color-index: 15;
  text-align: right;
  font-size: 20px;
  top: 16px;
  left: 841px;
  width: 73px;
  height: 30px;
}
#hak_id_1316685697453871789{
  top: 237px;
  left: 0px;
  width: 960px;
  height: 65px;
}
.hak_id_1316685310954239559_d{
  width: 114px;
  height: 31px;
}
.hak_id_1316685310954239559_f{
  width: 114px;
  height: 31px;
}
.hak_id_1316685310954239559_a{
  width: 114px;
  height: 31px;
}
